/* Space out content a bit */
body {
    padding: 0;
    margin: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
#app-junior {
    padding: 0 15px;
}
span.important-text {
    font-weight: bold;
    color: #57f;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@import '../scripts/pages/pages';
@import '../scripts/widgets/widgets';