.chart-options {
    .chart-option {
        float: left;
        cursor: pointer;
        margin: 5px;
        &:hover {
            font-weight: bold;
        }
        &.chart-type {
            &.disabled {
                cursor: normal;
                color: #ddd;
            }
        }
    }
}